
.toolbar {
  position: fixed;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 10px; 
  z-index: 100;
  background-color: #444;
  color: #ccc;
  border-bottom: solid 1px #222;
  h1 {
    font-size: 28px;
  }
}